<div class='sq-loading' style='position:absolute; width:100%; top:40%;'>
<div class="spinner">
  <div class="rect5"></div>
  <div class="rect4"></div>
  <div class="rect3"></div>
  <div class="rect2"></div>
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
</div>
<div id="squid_api_pathanalysis_widget">
  <div class="pathanalysis_header">
    <div class="row">
      <div class="col-md-4">
        <div id="orderby" />
        <div id="stepselector" />
      </div>
    </div>
  </div>
	<div class="pathanalysis_diagram">

	</div>
  <div class="pathanalysis_columns">

  </div>
</div>