<div class="squid-api-pathanalysis-widget-tooltip">
	<table>
  		<tr>
    		<th class="color" style="background-color: {{color}}"></th>
    		<th class="name">{{name}}</th>
  		</tr>
  		<tr>
  			<th class="clock"><i class="fa fa-clock-o"></i></th>
    		<th class="value">{{value}}</th>
  		</tr>
	</table>
</div>